* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* html {
    width: 100%;
} */
body {
    font-family: 'Lato', sans-serif !important;
    color: #4d4d4d;
}


/* --------------- generic webpage styling --------------- */

.contact-form-heading,
.testimonials-heading,
.teachings-heading,
.about-me-heading {
    font-family: 'Poppins', sans-serif !important;
    font-size: 2.5rem;
    color: #195361;
    margin: 40px auto;
    text-align: center;
    font-weight: 500;
}

.btn {
    background-color: #379bb4;
    border: 1px solid slategray;
    letter-spacing: 0;
    color: #fff;
}

.btn:hover {
    background-color: #195361;
    border: 1px solid slategray;
    color: #fff;
}

.btn:active {
    background-color: #195361;
    border: 1px solid slategray;
    color: #fff;
}

.card {
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
    text-align: justify;
    margin: 0px auto 30px auto;

}


/* --------------- Navbar Styling --------------- */

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: #195361 !important;
    margin-left: 20px;
}

.nav {
    font-size: 1.5em;
    letter-spacing: 2px;
}

.nav a {
    color: #195361 !important;
}

.nav a:hover {
    text-decoration: underline;
}

/* --------------- Hero Image Styling --------------- */

.hero-image-container {
    height: 100vh;
    min-width: 100%;

    background: url('../images/Guitar-hero-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* added and amended the hero image textbox from W3Schools */
.hero-image-text {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: auto; */
    border: 6px solid white;
    text-align: center;
    letter-spacing: 4px;
}

.hero-text-heading {
    font-size: 5rem;
}

/* --------------- About Me Styling --------------- */

.profile-outer {
    margin-bottom: 60px;
}

.image-box {
    margin: auto;
}
.circular-image-container {
    height: 300px;
    width: 300px;
    padding: 20px;
    border: 1px solid #4d4d4d;
    border-radius: 50%;
    margin: 0px auto;
}

.image-background {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-position: inherit;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.tutor-name {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.background-box {
    margin: 0 auto;
}

.background-content {
    border: 1px solid #4d4d4d;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
    margin: 20px 50px;
    padding: 20px;
    width: auto;
}

/* --------------- What I Teach Styling --------------- */

.instrument-type {
    text-align: center;
    font-size: 2em;
}

.lesson-price {
    text-align: center;
    font-size: 1.3em;
}

/* --------------- Testimonials Styling --------------- */

.card-container {
    margin: left;
}

.student-title {
    text-align: center;
    font-size: 2em;
}


/* --------------- Contact Form Styling --------------- */

.contact-form-container {
    background-color: #4eb8b9;
    color: #fff;
}

.callout {
    text-align: center;
    font-size: 1.6em;
    color: #fff;
}

form {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-size: 1.3em;
    color: #fff;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-success {
    margin-bottom: 30px;
}

/* --------------- Footer Styling --------------- */

footer {
    font-size: 1.3rem;
}

footer a {
    font-size: 1.5em;
}

