* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Lato' sans-serif;
}

/* --------------- Hero Image Styling --------------- */

/* --------------- About Me Styling --------------- */

/* --------------- What I Teach Styling --------------- */

/* --------------- Testimonials Styling --------------- */

/* --------------- Contact Form Styling --------------- */

/* --------------- Footer Styling --------------- */