* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Lato', sans-serif !important;
    color: #4d4d4d;
}

.contact-form-heading,
.testimonials-heading,
.teachings-heading,
.about-me-heading {
    font-family: 'Poppins', sans-serif !important;
    font-size: 3rem;
    color: #195361;
    margin: 40px;
    text-align: center;
    font-weight: 500;
}


/* --------------- Navbar Styling --------------- */

.navbar-brand {
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 2px;
    color: #195361 !important;
}

.nav {
    font-size: 1.5em;
    letter-spacing: 2px;
}

.nav a {
    color: #195361 !important;
}

.nav a:hover {
    border-bottom: 2px solid #195361;
}

/* --------------- Hero Image Styling --------------- */

.hero-image-container {
    height: 100vh;

    background: url('../images/Guitar-hero-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* added and amended the hero image textbox from W3Schools */
.hero-image-text {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
    border: 6px solid white;
    text-align: center;
    letter-spacing: 4px;
}

.hero-text-heading {
    font-size: 3em;
}

/* --------------- About Me Styling --------------- */

.image-container {
    height: 350px;
    width: 350px;
    padding: 20px;
    border: 1px solid #4d4d4d;
    border-radius: 50%;
    margin: 0px auto;
}

.image-background {
    height: 100%;
    background-position: inherit;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.tutor-name {
    margin-bottom: 40px;
}

.background-content {
    border: 1px solid #4d4d4d;
    margin: 0px auto 40px auto;
    padding: 20px;
}

/* --------------- What I Teach Styling --------------- */

.instrument-type {
    border: 1px solid #4d4d4d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instrument {
    height: 250px;
    width: 250px;
}

/* --------------- Testimonials Styling --------------- */

#testimonials {
    height: 800px;
    display: flex;
    flex-direction: column;
}

.student-image {
    /* flex used to align image and quote content within the blockquote container */
    display: flex;
    flex-direction: column;
    text-align: justify;
    border: 1px solid red;
    height: 625px;
}

.blockquote {
    padding: 15px;
    margin: 30px;
}


.rounded-circle {
    /* styling for the circular images in the testimonials section */
    height: 200px;
    width: 200px;
    margin: 10px auto;
}

/* --------------- Contact Form Styling --------------- */

/* --------------- Footer Styling --------------- */